<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>用户编辑页面</title>
</head>
<body>
  <form class="" action="/users/add" method="post">
    <div>
      <label for="username">用户名</label>
      <input type="text" name="username" value="">
    </div>
    <div>
      <label for="email">邮箱</label>
      <input type="text" name="email" id="">
    </div>

    <button type="submit" name="button">提交</button>
  </form>
</body>
</html>
